<div class="list-group">
    {% for category in categories %}
    <a href="{{ category.get_absolute_url }}"
       class="list-group-item list-group-item-action {% if category.id == curCategoryId %} active {% endif %}" aria-current="true">
        {{ category.title }}
    </a>
    {% endfor %}
</div>