{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'layout/sidebar.html' %}
{% endblock %}

{% block content %}
{% for new in news %}
<div class="card mb-3">
    <h5 class="card-header">
        Категория: <a href="{{ new.category_id.get_absolute_url }}">{{ new.category_id }}</a>
    </h5>
    <div class="card-body">
        <div class="media">
            {% if new.photo %}
            <img class="mr-3" src="{{ new.photo.url }}" width="350">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ new.title }}</h5>
                <p class="card-text">{{ new.content }}</p>
                <a href="{{ new.get_absolute_url }}" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ new.created_at|date:'Y-m-d H:i' }}
    </div>
</div>
{% endfor %}
{% endblock %}