{% extends 'base.html' %}

{% block title %}
    Add News :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'layout/sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Register</h1>

<form method="post">
    {% csrf_token %}

    {% comment %}
        {{ form.as_p }}
    {% endcomment %}

    {{ form.non_field.errors }}

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}

    {% comment %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
            {{ form.title }}
            <div class="invalid-feedback">
                {{ form.title.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">{{ form.content.label }}:</label>
            {{ form.content }}
            <div class="invalid-feedback">
                {{ form.content.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.is_published.id_for_label }}">{{ form.is_published.label }}:</label>
            {{ form.is_published }}
            <div class="invalid-feedback">
                {{ form.is_published.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">{{ form.category.label }}:</label>
            {{ form.category }}
            <div class="invalid-feedback">
                {{ form.category.errors }}
            </div>
        </div>
    {% endcomment %}

    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>

{% endblock %}