<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'news:home' %}">Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'news:add_news' %}">Add news</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    <span class="navbar-text">
      {% if request.user.is_authenticated %}
        Hello {{ user.username }} | <a href="{% url 'news:logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'news:register' %}">Register</a> | <a href="{% url 'news:login' %}">Login</a>
      {% endif %}
    </span>
  </div>
</nav>